* {
  margin: 0;
  padding: 0;
}
.box {
  margin-top: 100px;
  margin-left: 300px;
  width: 800px;
  height: 200px;
  border: 1px solid blue;
  position: relative;
}
.box .item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ccc;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 100px;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: background 0.5s ease, -webkit-transform 2s ease;
  transition: background 0.5s ease, -webkit-transform 2s ease;
  -o-transition: transform 2s ease, background 0.5s ease;
  transition: transform 2s ease, background 0.5s ease;
  transition: transform 2s ease, background 0.5s ease, -webkit-transform 2s ease;
}
.box .item.sortting {
  background-color: #0f0f0f;
}
